<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <header>
            <h1>첫 번째 글</h1>
        </header>
        <aside>
            <p>yoon</p>
            <p><a href="mailto:yoonms5319@gmail.com">yoonms5319@gmail.com</a></p>
            <p><time datetime="2023-08-28T13:33:00">2023-08-28T13:33:00</time></p>
            <p>#java</p>
        </aside>
        <section>
            <p>본문 <br><br></p>
            <div>

            </div>
        </section>
    </main>

    <footer id="footer"></footer>

</body>
</html>